ul.onward-journeys {
    padding-left: 2.5em;
}

ul.onward-journeys li {
    margin-bottom: 1em;
}

.onward-journeys a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgb(235,235,235);
}
